/*GLOBAL*/
/*font imports*/
@@font-face {
  font-family: Norwester;
  src: url(../fonts/norwester.woff);
}
@@font-face {
  font-family: Kilogram;
  src: url(../fonts/KiloGram_KG.otf);
}

body {
  font: 16px/24px Helvetica, Arial sans-serif;
  padding: 0;
  margin: 0;
  background-color: white;
}
p {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 80%;
  margin: auto;
  overflow:inherit;
  text-align: center;
  padding-bottom: 40px;
  box-shadow: 0 4px 4px -4px rgba(0,0,0,.4);
}
.sectionTitle{
  width: 20%;
  margin: auto;
  /*overflow: auto;*/
  position:relative;
  top: -50px;
  background-color: white;
  box-shadow: 5px 0 5px white, -5px 0 5px white;
  margin-bottom: -50px;
}
.sectionTitle h2{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  /*font-weight: 400;*/
  padding: 15px;
  color: #249bb4;
}
ul {
  padding: 0;
  margin:0;
}
hr {
    display: none;
    height: 1px;
    border: 0;
    box-shadow: 0 0px 2px rgba(0,0,0,.2);
    width: 80%;
    margin: 10px 0;
    padding: 0;
    align:center;
}
/*Header*/
header .container {
  overflow: visible;
  box-shadow: none;
  margin-top:0;
}

header {
  /*background: #1c8a8b;*/
  color: #efefef;
  padding: 38px 0 24px 0;
  width: 100%;
  max-height: 90px;
  border-bottom: 1px solid;
  position: fixed;
  top:0;
  z-index: 1;
  vertical-align: middle;
}

header a {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14pt;
  -webkit-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
}
  header a:hover {
    color:rgba(255, 255, 255, 0.5);
  }
/*normal menu*/
  header nav.normal{
  float: right;
  }
  header nav.normal ul {
    /*padding-top: 10px;*/
    padding-top: 2px;
    float: right;
  }
  header nav.normal ul li {
    display: inline;
    padding: 0 24px;
    padding-bottom: 23px;
    margin: 0;
  }
  header nav.normal ul li a {
    padding-bottom: 23px;
    margin:0;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s ease-in;
  }
  header nav.normal ul li a:hover {
    color:rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid white;
  }

/*toggle menu icon*/
header ul.toggle-menu-icon{
  float:left;
  display: none;
  height:30px;
  width:30px;
  margin-top: -3px;
}
header ul.toggle-menu-icon li{
  padding: 0;
  margin:0;
  display: inline;
}

/* mobile menu*/
header #mobileNav{
  display: none;
}
header nav img {
  width:30px;
  height: 30px;
}
header nav.mobile ul {
  padding-top: 10px;
  float: none;
}
header nav.mobile ul li {
  display: inline;
  padding: 0 10px;
  padding-bottom: 60px;
  margin: 0;
}
header nav.mobile ul li a {
  padding-bottom: 60px;
  margin:0;
}

/*logo style*/
  header #branding{
    /*padding-top: 10px;*/
    padding-top: 2px;
    float:left;
    text-align: right;
  }
  header #branding img{
    width: 30px;
    height: 30px;
  }
  header #branding ul.toggle-menu-icon {
    float:left;
    list-style-type: none;
    display: inline;
    margin-right: 10 px;
  }
  header #branding ul.toggle-menu-icon li {
    float:left;
    padding-right: 10px;
    display: none;
  }
  header #branding a{
    font-family: "Lato", sans-serif;
    font-weight:100;
    font-size: 44pt;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  header #branding a span{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 44pt;
    text-transform: uppercase;
  }
  header #branding h3 {
    padding:0;
    margin:0;
    text-align: right;
    font-family: Norwester;
    font-style: italic;
    font-size: 20px;
    color: white;
  }
/*Home - banner section */
#home .container {
  box-shadow:none;
}
#home {
  /*background-color: gray;*/
  /*background: url("../images/banner-bg.png") no-repeat 0 -400px;*/
  top: 0;
  /*min-height: 400px;*/
  text-align: center;
  /*second bg*/
  background: url("../images/banner-bg2.png") no-repeat 0 -400px;
  min-height: 600px;
  background-attachment: fixed;
}
#home h1 {
  /*font-family: 'Oswald', sans-serif;*/
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 44px;
  /*text-transform: uppercase;*/
  padding-top: 200px;
  padding-bottom: 100px;
  /*text-align: center;*/
  /*color: rgba(240,240,240,0.9);*/
  color: white;
}
#home p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 28px;
  line-height: 28px;
  color: white;
  padding: 0 200px;
  /*color: rgba(240,240,240,0.6);*/
}
#home a{
  font-family: "Roboto", sans-serif;
  /*text-decoration: none;*/
  text-decoration-style: dashed;
  text-decoration-color: blue;
  font-size: 28px;
  line-height: 28px;
  color: rgba(240,240,240,0.6);
  -webkit-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
}
#home a:hover{
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 28px;
  color:  white;
}

/*Cover section*/

/*Portfolio styling*/

/*About styling*/
.box-4 {
  /*box-shadow: 0px 0 0 2px rgba(36,155,180,.1), 0 2px 3px rgba(0,0,0,.2);*/
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  /*border: 3px solid rgb(36,155,180);*/
  border-radius: 5px;
  background-color: #d3ebf0;
  width: 340px;
  min-width: 240px;
  height: auto;
  padding: 0px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  text-align: center;
  display: inline-block;
  -webkit- transition: box-shadow 1s;
  transition: box-shadow 1s;
}
.box-4:hover {
  /*box-shadow: 0px 0 0 2px rgba(0,0,0,.1), 0 4px 6px rgba(0,0,0,.2);*/
  box-shadow: 0 0 0 3px #249bb4, 0 4px 6px #249bb4;
  height: auto;
  /*border: 3px solid rgb(36,155,180);*/
}
  .box-4 .icons {
    position: relative;
    top: -1px;
  }
  .box-4 h3 {
    font-size: 20px;
    font-family: Norwester;
    font-weight: 600;
  }
  .box-4 p{
    padding:0;
    margin:0;
  }

/*Contact Styling*/
#contact .container{
  padding-bottom: 10px;
}
.contactForm {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: auto;
  min-height: 150px;
}
  .contactForm textarea {
    margin: 10px;
    padding: 12px;
    resize: none;
    width: 30%;
    height: 50px;
    color: #888888;
    vertical-align: top;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #d3ebf0;
  }
  .contactForm input {
    margin: 10px;
    padding: 12px;
    width: 30%;
    height: 50px;
    color: #888888;
    vertical-align: top;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #d3ebf0;
  }

  .btn1 {
    margin: 10px;
    background-color: #f3f3f3;
    color: #249bb4;
    border: 2px solid #249bb4;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    -webkit- transition: background-color 1s, color 1s ease-in-out;
    transition: background-color 1s, color 1s ease-in-out;
  }
  .btn1:hover {
    background-color: #249bb4;
    color: white;
    border: 2px solid #249bb4;
    border-radius: 10px;
    padding: 10px 20px;
  }
/*footer styling */
footer {
  background-color: #f4f4f4;
}
footer .container {
  padding-top: 20px;
  padding-bottom: 0px;
}
  footer img {
    width : 32px;
    height: 32px;
    margin: 5px;
    padding: 0;
    border: 2px solid #249bb4;
    border-radius: 5px;
    background-color: #249bb4;
    -webkit- transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
  }
  a img:hover{
    border: 0px solid white;
    border-radius: 5px;
    background-color: white;
  }
  footer p {
    color: #aaaaaa;
    font-size: 12px;
    padding:0;
    margin:0;
  }


/*----------------Responsve Styling---------------------------------------*/
/*medium sized screens*/
@media(max-width: 1400px){
  header #branding a{
    font-size:38pt;
  }
  header #branding a span{
    font-size: 38pt;
  }
  header nav.normal ul li{
    padding: 0 12px;
  }
  header nav.normal ul li a{
    font-size: 12pt;
    padding-bottom: 25px;
  }
  #home h1{
    padding-top: 160px;
    font-size: 42px;
    line-height:44px;
  }
  #home p{
    padding: 0 60px;
  }
}
/* styling for smaller desktop screens*/
@media(max-width: 1110px){
  header #branding a{
    font-size:20pt;
  }
  header #branding a span{
    font-size: 20pt;
  }
  header nav.normal ul li{
    padding: 0 10px;
  }
  header nav.normal ul li a{
    font-size: 10pt;
    padding-bottom: 26px;
  }
  #home h1{
    padding-top: 160px;
    margin-bottom:0px;
  }
  #home p{
    padding-top:10px;
    font-size: 22px;
    line-height: 24px;
    padding: 0 60px;
  }
  #home a{
    font-size: 22px;
    line-height: 24px;
  }
  #home a:hover{
    font-size: 22px;
    line-height: 24px;
  }
  .sectionTitle{
    width: 30%;
    box-shadow: 5px 0 5px white, -5px 0 5px white;
  }
  .contactForm textarea {
    width: 90%;
  }
  .contactForm input {
    width: 40%;
  }
}

/*+++++++++++++styling for tablet, mobile etc.*/
@media(max-width: 768px){
  header nav.mobile,
  header nav.mobile li{
    float:none;
    text-align:center;
    width: 100%;
  }
  header {
    background-color: #249bb4;
    border-bottom: 1px solid white;
    padding: 20px;
    max-height: 150px;
  }
  header .container {
    padding-bottom: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
  }
  header #branding{
    float:none;
  }
  header #branding a{
    font-size:20pt;
    padding: 0;
  }
  header #branding a span{
    font-size: 20pt;
  }
  header #branding ul.toggle-menu-icon li{
    padding: 0 0 5px 0;
    display: inline;
  }
  header #mobileNav{
    display: none;
  }
  header nav.normal{
    display: none;
  }
  #home {
    min-height: 450px;
    background-position: -1000px -300px;
  }
  #home h1{
    padding-top: 150px;
    padding-bottom: 30px;
    font-size: 32px;
    line-height:34px;
  }
  #home p{
    font-size: 22px;
    line-height: 24px;
    padding: 0 20px;
  }
  #home a{
    font-size: 22px;
    line-height: 24px;
  }
  #home a:hover{
    font-size: 22px;
    line-height: 24px;
  }
  .sectionTitle{
    width: 40%;
    box-shadow: 5px 0 5px white, -5px 0 5px white;
  }
  .box-4{
    width: 80%;
  }
  .contactForm textarea {
    width: 90%;
  }
  .contactForm input {
    width: 40%;
  }

}
/*+++++++++styling for smaller phones*/
@media(max-width: 450px){
  header #branding a{
    font-size:15pt;
  }
  header #branding a span{
    font-size: 15pt;
  }
  header {
    max-height: 120px;
  }
  .sectionTitle{
    width: 50%;
    box-shadow: 5px 0 5px white, -5px 0 5px white;
  }
  header ul.toggle-menu-icon{
    height:25px;
    width:25px;
  }
  #home h1 {
    padding-top: 100px;
  }
  #home p {
    padding: 0 10px;
  }
  .contactForm textarea {
    width: 90%;
  }
  .contactForm input {
    width: 42%;
  }
}
/*+++++++++++styling for smallest phones*/
@media(max-width: 360px){
  header #branding a{
    font-size:13pt;
  }
  header #branding a span{
    font-size: 13pt;
  }
  header {
    max-height: 120px;
  }
  .sectionTitle{
    padding: 0;
    width: 65%;
    box-shadow: 5px 0 5px white, -5px 0 5px white;
  }
  .contactForm input {
    width: 40%;
  }
}
